<div class="custom-menus-box">
    <div class="dropdown">
        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="nav-drawer-custom" type="button" class="btn nav-link dropdown-toggle">{{#pix}}i/moremenu{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>

        <ul id="nav-drawer-custom" class="dropdown-menu" data-rel="menu-content" role="menu">
            {{{ output.custom_menu }}}
        </ul>
    </div>
</div>
<ul class="custom-menus">
    {{{ output.custom_menu }}}
</ul>
