<section id="box-news">
    <!--div class="horizontalslider flexslider" data-width="200"-->
        <div class="slides">
        {{#news}}
            {{#url}}<a href="{{{ url }}}" class="one-news">{{/url}}
            {{^url}}<span class="one-news">{{/url}}
                {{#image}}
                    <img src="{{{ image }}}" />
                {{/image}}

                {{{ content }}}

                {{^image}}
                    {{#url}}
                        <div>
                            <a href="{{{ url }}}">
                                {{#str}}more, theme_cocreatic{{/str}}
                            </a>
                        </div>
                    {{/url}}
                {{/image}}
            {{#url}}</a>{{/url}}
            {{^url}}</span>{{/url}}
        {{/news}}
        </div>
    <!--/div-->
</section>
