<section id="box-news">
    <!--div class="horizontalslider flexslider" data-width="200"-->
        <ul class="slides">
        {{#news}}
            <li class="one-news">
                {{#image}}
                    {{#url}}<a href="{{{ url }}}">{{/url}}
                    <img src="{{{ image }}}" />
                    {{#url}}</a>{{/url}}
                {{/image}}

                {{{ content }}}

                {{^image}}
                    {{#url}}
                        <div>
                            <a href="{{{ url }}}">
                                {{#str}}more, theme_cocreatic{{/str}}
                            </a>
                        </div>
                    {{/url}}
                {{/image}}
            </li>
        {{/news}}
        </ul>
    <!--/div-->
</section>
